services:

  front:
      build: ./front
      volumes:
        - ./front:/app
        - node_modules:/app/node_modules
      ports:
        - "3000:3000"
      environment:
        - NODE_ENV=development

volumes:
  node_modules: