services:

  front:
      build: ./front
      volumes:
        - ./front:/app
        - /app/node_modules
      ports:
        - "5173:5173"
      environment:
        - NODE_ENV=development

  back:
    build: ./back
    volumes:
      - ./back:/app
      - /app/node_modules
    ports:
      - "3000:3000"
    env_file: ".env"
